{%extends "base.html"%}
{%block title%}Home{%endblock%}

{%block content%}
<div class="container-lg">
    <div class="row align-items-center">
        <div class="container-lg">
            This is the home page. Not entirely sure what I'll put here.
            Porbably some kind of blog post section as well as links
            and call outs to other content. I'm thinking I'll have a
            separate page for blog posts and then have the latest 1 or 2
            here with other content.
        </div>
    </div>
</div>
{%endblock%}