{%extends "base.html"%}
{%block title%}Projects{%endblock%}

{%block content%}
<div class="container-lg">
    <div class="row align-items-center">
        <div class="container-lg">
            This will be the main projects page. I'll list a summary of the projects here.
            I'll need to update the menu to be a dropdown as well so people can manually
            navigate to the project they want to see <span class="callout">&ltCompleted&gt</span>. I'll also include links to the
            projects here through a carousel or some other method
        </div>
    </div>
</div>
{%endblock%}