{%extends "base.html"%}
{%block title%}Resume{%endblock%}

{%block content%}
<div class="container-lg">
    <div class="row align-items-center">
        <div class="container-lg">
            This will be my resume page. I'll use CSS formatting to create a fancy resume.
            It will be formatted pretty, have pictures and icons and etc. Will also include
            links to download pdf of resume (plain-text for ATS or html for manual review)
        </div>
    </div>
</div>
{%endblock%}